name: Build & Deploy Strapi CMS

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js 22.15.0
        uses: actions/setup-node@v4
        with:
          node-version: 22.15.0

      - name: Install dependencies
        run: npm install

      # - name: Build Strapi Plugin
      #   run: npm run build:plugin:standard-strapi-toolkit

      - name: Build Strapi Admin
        env:
          NODE_ENV: production
          NODE_OPTIONS: "--max-old-space-size=4096"
        run: npm run build

      - name: Create deployment package
        run: |
          rm -f deploy.tar.gz
          tar -czf deploy.tar.gz dist src package.json package-lock.json .env

      - name: Upload build to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS_PASSWORD }}
          source: "deploy.tar.gz"
          target: "${{ secrets.VPS_PATH }}"

      - name: Run deployment on VPS
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            cd ${{ secrets.VPS_PATH }}

            echo "Extracting new build..."
            tar -xzf deploy.tar.gz

            echo "Installing production dependencies..."
            npm ci --omit=dev --no-audit --no-fund

            echo "Restarting PM2..."
            pm2 restart standard-cms || pm2 start npm --name "standard-cms" -- run start

            echo "Deployment completed!"
