name: Deploy CMS to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Strapi CMS Deployment
    runs-on: ubuntu-latest

    steps:
      # - name: Use Node.js 22.15.0
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: 22.15.0

      # - name: Install dependencies
      #   run: npm install

      # - name: Build Strapi Admin
      #   env:
      #     NODE_ENV: production
      #     NODE_OPTIONS: "--max-old-space-size=4096"
      #   run: npm run build

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: SSH into VPS and Deploy
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          password: ${{ secrets.VPS_PASSWORD }}
          # key: ${{ secrets.VPS_SSH_PRIVATE_KEY }}
          script: |
            set -e
            echo "Connecting to VPS..."

            cd ${{ secrets.VPS_PATH }}

            git pull origin main

            echo "Loading NVM..."
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

            echo "Using Node v22.15.0..."
            nvm use v22.15.0

            # echo "Deleting node modules..."
            # rm -rf node_modules

            # echo "Installing dependencies..."
            # npm install

            # echo "Installing plugin..."
            # npm run install:plugin:standard-strapi-toolkit

            # echo "Increasing Node memory limit..."
            # export NODE_OPTIONS="--max-old-space-size=4096"

            # echo "Starting plugin in development mode (no build)..."
            # npm run dev:plugin:standard-strapi-toolkit

            # echo "Starting plugin build"
            # npm run build:plugin:standard-strapi-toolkit

            # echo "Building Strapi..."
            # npm run build

            echo "Restarting with PM2..."
            pm2 restart standard-cms || pm2 start npm --name "standard-cms" -- run start

            echo "Deployment completed successfully!"
